.counter-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter {
  font-size: 7.5rem;
  font-weight: bold;
}

.counter-buttons button {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.increment-button {
  background-color: green;
}

.decrement-button {
  background-color: red;
}
